/* --------------------------------------------------------
			Basic Elements
-------------------------------------------------------- */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}
body {
	// font: $base-font-weight #{$base-font-size}/#{$base-line-height} $SansSerif;
	color: v(text);
	background-color: v(bg);
		-webkit-text-size-adjust: 100%;
		-webkit-font-feature-settings: "kern" 1;
		-moz-font-feature-settings: "kern" 1;
		-o-font-feature-settings: "kern" 1;
		font-feature-settings: "kern" 1;
	font-kerning: normal;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
  // Default value of `display` of `main` element is 'inline' in IE 11.
  display: block;
}
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* --------------------------------------------------------
			Colors
-------------------------------------------------------- */
/* Convert SASS Variables > CSS Variables */
html[data-theme="light"] {
	@each $name, $color in $light-colors {
		--color-#{$name}: #{$color};
	}
}
html[data-theme="dark"] {
	@each $name, $color in $dark-colors {
		--color-#{$name}: #{$color};
	}
}
/* --------------------------------------------------------
			Code Formatting
-------------------------------------------------------- */
pre,
code {
  // @include relative-font-size(0.9375);
  border: 1px solid v(text);
  border-radius: 3px;
  background-color: #eef;
}
code {
  padding: 1px 5px;
}
pre {
  padding: 8px 12px;
  overflow-x: auto;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
/* --------------------------------------------------------
			Tables
-------------------------------------------------------- */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: v(text);
  border-collapse: collapse;
  border: 1px solid v(text);
  tr {
    &:nth-child(even) {
      background-color: v(text);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: v(text);
    border: 1px solid v(text);
    border-bottom-color: v(text);
  }
  td {
    border: 1px solid v(text);
  }
}