/* --------------------------------------------------------
			Basic Elements
-------------------------------------------------------- */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}
body {
	// font: $base-font-weight #{$base-font-size}/#{$base-line-height} $SansSerif;
	color: v(text);
	background-color: v(bg);
		-webkit-text-size-adjust: 100%;
		-webkit-font-feature-settings: "kern" 1;
		-moz-font-feature-settings: "kern" 1;
		-o-font-feature-settings: "kern" 1;
		font-feature-settings: "kern" 1;
	font-kerning: normal;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
  // Default value of `display` of `main` element is 'inline' in IE 11.
  display: block;
}
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
	display: none;
}
.unselected {
  opacity: .6;
  transition: .2s;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
/* --------------------------------------------------------
			Code Formatting
-------------------------------------------------------- */
pre,
code {
  // @include relative-font-size(0.9375);
  border: 1px solid v(text);
  border-radius: 3px;
  background-color: #eef;
}
code {
  padding: 1px 5px;
}
pre {
  padding: 8px 12px;
  overflow-x: auto;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
/* --------------------------------------------------------
			Tables
-------------------------------------------------------- */
.post-content table {
  @include grid-wide;
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: v(text);
  font-size: .75rem;
  border-collapse: collapse;
  white-space: nowrap;
  // border: 1px solid v(alt);
  // tr {
  //   &:nth-child(even) {
  //     background-color: v(text);
  //   }
  // }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  thead tr {
    background-color: v(highlight);
    color: v(heading);
    font-weight: 900;
  }
  th {
    border-bottom: 2px solid v(alt);
    border-bottom-color: v(alt);
    border-radius: unset;
    font-weight: normal;
  }
  td {
    border-bottom: 2px solid v(alt);
  }
}