.featured-articles {
    background-color: $dark-background-highlight;
    margin: 0 0 5rem 0;
    padding: 2rem 0;
    // to keep overflow on small screens
    .container-overflow {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        @include media-query($small) {
            padding-left: $spacing-unit * 2;
        }
        @include media-query($medium) {
            padding-left: 0;
        }
        .featured-article-header {
            padding-left: $spacing-unit * 2;
            display: flex;
            align-items: baseline;
            justify-content: space-between;        
            @include media-query($small) {
                padding-left: 0;
            }
            h2 {
                margin-top: 0;
            }
            .see-more {
                font-size: 16px;
                padding-right: 16px;
                color: $alt-color;                
                svg { // arrow 
                    fill: $dark-background-color;
                    position: relative;
                    top: 4px;
                    width: 18px;
                    height: 18px;
                    background-image: url(/assets/images/svg/coin-accent-fill.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                @include media-query($medium) {
                    display: none;
                }
            }
        }
    }

    .article-container {
        position: relative;
        height: 223px; /* based on height of li item (article card) */
        overflow-x: scroll;
        scroll-behavior: smooth;
        h3 {
            @include fluid-type($min_width, $max_width, 15px, 17px);
            margin-bottom: $spacing-unit;
        }
        ul {
            list-style: none;
            position: absolute;
            margin: 0;
            min-width: calc(7 * (286px + 16px) + 26px); /* calculated based on 6 items + end link card in template loop (7) and 302px for article card + margin */
        }
        li {
            width: 286px;
            height: 215px;
            background-color: $dark-background-color;
            border-radius: 5px;
            padding-bottom: $spacing-unit;
            margin: 0 $spacing-unit * 2 0 0;
            display: inline-block;
            vertical-align: top;

            img {
                border-radius: 5px 5px 0 0;
                height: 90px;
                width: 286px;
                object-fit: cover;
                object-position: 50% 40%;
                margin-bottom: $spacing-unit * 2;
                margin-top: 0;
            }

            .article-info {
                padding: 0 $spacing-unit * 2;
                line-height: 1.2;
            }
            p {
                padding: 0;
                margin: 0 0 $spacing-unit 0;
            }
            .post-meta {
                display: inherit;
                margin: 0;
            }
            svg {
                fill: $text-color;
                width: 14px;
                height: 14px;
                padding-right: $spacing-unit * .5;
                vertical-align: baseline;
                position: relative;
                top: .1rem;                
            }
        }
        //
        // left off here
        //
        .article-end-card {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            > p {
                margin: 0;
            }
        }
        @media (min-width: $on-tablet) {
            height: auto;
            overflow-x: inherit;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;

            ul {
                position: relative;
                min-width: initial;
                display: grid;
                grid-template-columns: [col1-start] 1fr;
                grid-template-rows: [featured-end regular-start] 1fr;
                grid-gap: $spacing-unit * 4 $spacing-unit * 4;
                justify-items: center;
                align-items: stretch;
                justify-content: center;
                align-content: stretch;	
                grid-auto-flow: row;

                li {
                    margin: 0;
                    padding: 0;
                    width: inherit;
                    height: 215px;
        
                    img {
                        width: 100%;
                        height: 90px;
                    }
                }  
            }
        }
    }
}

/* for non overflow (called reveal) featured article section */

.article-container.reveal {
    height: auto;
    overflow-x: inherit;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    ul.post-list.reveal {
        position: relative;
        min-width: initial;
        display: grid;
        grid-template-columns: [col1-start] 1fr;
        grid-template-rows: [featured-end regular-start] 1fr;
        grid-gap: $spacing-unit * 4 $spacing-unit * 4;
        justify-items: center;
        align-items: stretch;
        justify-content: center;
        align-content: stretch;	
        grid-auto-flow: row;

        li {
            margin: 0;
            padding: 0;
            width: inherit;
            height: 215px;

            img {
                width: 100%;
                height: 90px;
            }
        }      
    }
}

/* Below Should apply to both type of featured article sections - overflow and reveal */

.article-container, .article-container.reveal {

    /* 768 px */
    @media screen and (min-width: $on-tablet) { 

        ul.post-list, ul.post-list.reveal {
            grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr;
            grid-template-rows: [featured-start] 1.3fr [featured-end regular-start] 1fr;
    
            li {
                margin: 0;
                padding: 0;
                width: inherit;
                height: inherit;
                &:not(:first-child) {
                    height: 280px;
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 140px;
                }
            }

            .article-0 {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                
                img {
                    width: 65%;
                    height: 100%;
                    margin: 0;
                    border-radius: 5px 0 0 5px; 
                }

                h3, p {
                    max-width: 80%;
                    margin-right: auto;
                    margin-left: auto;
                }

                h3 {
                    font-size: $base-font-size * 1.385;
                    line-height: $base-font-size * 1.692;
                }

                .article-info {
                    max-width: 35%;
                    padding: 0;
                }
            }
        
            .article-1 {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        
            .article-2 {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
            
            .article-end-card {
                font-size: 16px;
            }
        }
    }

    /* 1024 px */
    @media screen and (min-width: $on-tablet-big) {

        ul.post-list, ul.post-list.reveal {
            grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr;
            grid-template-rows: [featured-start] 2fr [featured-end regular-start] 1fr;
            grid-gap: $spacing-unit * 4 $spacing-unit * 4;

            .article-0 {
                grid-column: 1 / 4;

                h3 {
                    font-size: $base-font-size * 1.692;
                    line-height: $base-font-size * 2;
                }

                p {
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: $spacing-unit * 2;
                }

                .post-meta {
                    margin-bottom: 0;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    top: -2px;
                }
            }

            .article-1 {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        
            .article-2 {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
        
            .article-3 {
                grid-column: 3 / 4;
                grid-row: 2 / 3;
            }

            .article-info > p {
                font-size: 16px;
            }
        }
    }

    /* 1200 px */
    @media screen and (min-width: $on-desktop) {
        width: $on-desktop;

        ul.post-list, ul.post-list.reveal {
            .article-0 {
                img {
                    width: 65.72826986%;
                }
                .article-info {
                    max-width: 34.27173014%;
                }
            }
        }
    }
}

.featured-articles {

    p.post-meta {
    color: $grey-color-dark;
    
        svg {
            fill: $grey-color-dark;
        }
    }
}