/* --------------------------------------------------------
			Header and Footer Layout
-------------------------------------------------------- */
.site-header {
	max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
	margin: 1rem auto;
	width: 100%;
	> * {
		grid-column: 2 / 16;
		margin: 0;
	}
	.site-title {
		grid-column: 2 / 15;
	}
	#lightswitch {
		grid-column: 15 / 16;
		justify-self: end;
	}
	.site-nav {
		margin: $spacing-unit * 4 0 $spacing-unit * 2 0;
	}
	@include media-query($medium) {
		margin: 2rem auto;
	}
}
.site-footer {
	margin-bottom: $spacing-unit * 6;
	#bottom-foot {
		margin-top: $spacing-unit * 8;
	}
}
/* --------------------------------------------------------
			Articles and Pages Layout
-------------------------------------------------------- */
.page-content {
	flex: 1;
}
.post-header {
	margin: 1.5rem 0; // this margin declration should be made a functional css class
}
.post-content {
	display: grid;
    grid-template-columns: repeat(16,1fr);
    max-width: 2000px;
    margin: 0 auto 4rem auto; //delete in existing
    > * {        
        padding: 0; //delete in existing
        margin-left: 0; //delete in existing
        margin-right: 0;  //delete in existing
        max-width: unset;  //delete in existing
        width: unset;
        @include grid-normal;
    }
}