/* 
* --------------------------------------------------------
*			Header and Footer Layout
* --------------------------------------------------------
*/
.site-header {
	max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
	margin: 1rem auto;
	width: 100%;
	> * {
		grid-column: 2 / 16;
		margin: 0;
	}
	.site-title {
		grid-column: 2 / 14;
	}
	#lightswitch {
		grid-column: 14 / 16;
		justify-self: end;
	}
	.site-nav {
		margin: .5rem 0 .75rem 0;
	}
	@include media-query($medium) {
		margin: 1rem 0 1.5rem 0;
	}
}
.site-footer {
	margin-bottom: $spacing-unit * 6;
	#bottom-foot {
		margin-top: $spacing-unit * 8;
	}
}
/* 
* --------------------------------------------------------
*			Articles and Pages Layout
* --------------------------------------------------------
*/
.page-content {
	flex: 1;
}
.post-header {
	// TODO this margin declration should be made a functional css class
	margin: 1.5rem auto;
    @include media-query($regular) {
        margin-bottom: 2rem;
    }
}
.post-content {
	display: grid;
    grid-template-columns: repeat(16,1fr);
    max-width: 2000px;
    margin: 0 auto 4rem auto;
    > * {
        width: unset;
        @include grid-normal;
    }
}