.rec-art {    
    background-color: v(bg-highlight);
    @include grid-full-width-normal;
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: unset;
    width: unset;
    a {
        background-color: initial;
        padding: 0;
        &:hover {
            background-color: initial;
        }
    }
    @include media-query($shmedium) {
        border-radius: 3px;
    }
    .rec-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0;
        .rec-info {
            margin-right: $spacing-unit * 2;
            width: 100%;
            @include media-query($small) {
                margin-right: $spacing-unit * 4;
            }
            p {
                width: 100%;
                padding: 0;                
            }
            .heading {
                @include fluid-type($min_width, $max_width, 12px, 16px);
                line-height: .85rem;
                color: v(alt);
                font-weight: 900;
                font-family: $Monospace;
                margin-bottom: .4rem;
            }
            .post-title {
                color: v(brand);
                @include fluid-type($min_width, $max_width, $min_font, $max_font);
                font-weight: 900;
                font-family: $SansSerif;
                line-height: 1.2;
            }            
            .post-desc {
                margin: 0;
                @include fluid-type($min_width, $max_width, 12px, 18px);
                color: v(text);
            }
        }
        .rec-img {
            margin-top: auto;
            min-width: 90px;
            min-height: 90px;
            @include media-query($regular) {
                min-width: 125px;
                min-height: 125px;
            }
            figure {
                border-radius: 3px;
            }
            img {
                border-radius: 3px;
                object-fit: cover;
                width: 90px;
                height: 90px;
                margin: 0;
                @include media-query($regular) {
                    width: 125px;
                    height: 125px
                }
            }
        }
    }
}
// use the "rec-articles.html" (with an 's') for less margin between multiple rec articles
aside.many {
    margin: 1rem 0 0 0;
}