/* --------------------------------------------------------
			Colors
-------------------------------------------------------- */
/* Convert SASS color variables for each theme to CSS variables */
html[data-theme="light"] {
	@each $name, $color in $light-colors {
		--color-#{$name}: #{$color};
	}
}
html[data-theme="dark"] {
	@each $name, $color in $dark-colors {
		--color-#{$name}: #{$color};
	}
}
/* Dark and light mode dependent styling */
@mixin theme-transition($property) {
    transition: $property 0.5s ease-out 0s;
}
body, .hashtag-nav a, .featured-articles, .featured-articles ul li, figure, #post-categories a {
    @include theme-transition(background-color);
}
.hashtag-nav,.post-header .post-title, .post-header .article-subtitle, .featured-articles ul li p, h1, h2, h3, p {
    @include theme-transition(color);
}
svg {
    @include theme-transition(fill);
}
/* Theme switcher icon animation animation while in light mode */
html[data-theme="light"] {    
    #lightswitch {
        #moon {
            transform: translate(420px, 420px);            
        }
        #sun {
            transform: translate(1px, 20px);
        }
    }
    #lightswitch:hover {
        #moon {
            transform: translate(1px, 20px);
        }
        #sun {
            transform: translate(420px, 420px);
        }
    }
}

html[data-theme="dark"] {
    /* Change bullet SVG from dark to white for dark mode */
    .post-content ul li:before {
        background-image: url(/assets/images/svg/coin-bullet-white.svg);
    }
    /* Image color overlay in dark mode. */
    figure {
        background-color: #c8ba90;
    }
    /* Prevents image color overlay in dark mode when figure has captions */
    .no-bg-color {
        background-color: unset;
        div {
            background-color: #c8ba90;
        }
    }
    /* Prevents image color overlay in dark mode on SVGs */
    img {
        &:not(.svg-reg, .svg) {
            mix-blend-mode: multiply;
        }
    }
    /* Theme switcher icon animation animation while in dark mode */
    #lightswitch {
        #sun {
            transform: translate(420px, 420px);
        }
        #moon {
            transform: translate(1px, 20px);
        }
    }
    #lightswitch:hover {
        #moon {
            transform: translate(420px, 420px);
        }
        #sun {
            transform: translate(1px, 20px);
        }
    }
    /* Resume logo compatability with dark mode */
    #servicetitan {
        background-image: url(/assets/images/svg/servicetitan-white.svg);
    }  
}
/* --------------------------------------------------------
            Font Sizes, Styles, and Colors
-------------------------------------------------------- */
html, body {
    font: $base-font-weight #{$base-size}/#{$base-line-height} $SansSerif;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
p, ol, ul, blockquote {
    margin-bottom: 2rem;
}
h1, h2, h3, h4, h5 {
    font-weight: 900;
    font-family: $SansSerif;
    line-height: 1.2;
    color: v(heading);
    }
h1 {  
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
    margin-bottom: .5rem;
}
h2 {  
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
    margin-top: 4rem;
    margin-bottom: .8rem;
}
h3 { 
    @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
    margin-bottom: .5rem;
}
h5 {
    font-family: $Monospace;
    color: v(alt);
    margin-bottom: .4rem;
}
a {
    color: v(brand);
    text-decoration: none;
    &:hover {
      color: v(brand);
      text-decoration: none;
    }
}
/* --------------------------------------------------------
            Main Header and Nav Styles
-------------------------------------------------------- */
.site-title {
    align-self: center;
}
#logo {
    margin: 0;
    max-width: 5rem;    
    &:hover {
        #LetterP {
            transform: translatex(50px);
            transition: 0.2s;
        }
    }
    #LetterP {
        transition: 0.4s;
    }
}
#lightswitch {
    align-self: center;
    height: 2.5rem;
    width: 2.5rem;
    fill: v(text);
    :hover {
        cursor: pointer;
    }
    #sun, #moon {
        transition: all 0.4s;
    }
}
.site-nav a {
    &:not(:last-child) {
        margin-right: 1.5rem;        
    }
}
.hashtag-nav a {
    margin: 0;
    color: v(text-light);
    background-color: v(highlight);
    border-radius: 3px;
    padding: .15rem .25rem;
    line-height: 2;
    &:hover {
        color: v(heading);
    }
    &:first-child {
        margin-left: .5rem;
    }
    &:not(:last-child) {
        margin-right: .2rem;
    }
}
/* --------------------------------------------------------
            Footer Styles
-------------------------------------------------------- */
#footer-cta {
    background-image: url(/assets/images/svg/coin-grey-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: fit-content;
    svg {
        fill: v(brand-darkest-faded);
        padding: 13px 14px 14px 14px;
        cursor: pointer;
        width: 1.1rem;
        height: 1.1rem;    
    }    
}
#bottom-foot {    
    svg {
        fill: v(text);
        width: 1rem;
        height: 1rem;
        vertical-align: middle; 
    }
    ul {
        text-align: center;
        margin: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            &:not(:last-child) {
                margin-right: 1rem;
            }
            a {
                color: v(text);
                &:hover {
                    color: v(brand);
                }     
            }
        }
    }
}
/* --------------------------------------------------------
            Articles & Pages Styles
-------------------------------------------------------- */
.post-header {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-gap: 1rem 0;    
}

.post-title {
    grid-row: 1;
    grid-column: 2 / 16;
    margin: 0;
}
.article-subtitle {
    @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
    grid-row: 2;
    grid-column: 2 / 16;
    margin: 0;
}
.post-meta {
    font-size: .75rem;
    color: v(text-lighter);
    position: relative; /* for #ring */
    grid-row: 3;
    grid-column: 2 / 16;    
    display: grid;
    grid-template-columns: 4rem 1fr auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    @include media-query($medium) {
        grid-template-columns: 5rem 1fr auto;
    }
    #ring {
        background-image: url(/assets/images/svg/coin-gold-ring.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 60px;
        width: 60px;
        margin-top: -4px;
        @include media-query($medium) {
            height: 83px;
            width: 83px;
            margin-top: -6px;
        }
        @include media-query($regular) {
            height: 95px;
            width: 95px;
        }
    }
    figure {      
        border-radius: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        max-height: 50px;
        max-width: 50px;
        margin: 0 0 0 4px; 
        @include media-query($medium) {
            max-height: 70px;
            max-width: 70px;
            margin: 0 0 0 5px;
        }
        @include media-query($regular) {
            max-height: 80px;
            max-width: 80px;
            margin: 0 0 0 6px;
        }      
    }
    img {
        border-radius: 100%;
        max-height: 50px;
        max-width: 50px;
        margin: 0;
        @include media-query($medium) {
            max-height: 70px;
            max-width: 70px;
        }
        @include media-query($regular) {
            max-height: 80px;
            max-width: 80px;
        }
    }
    span {
        grid-column: 2 / 4;
        align-self: end;
        margin-bottom: .1rem; 
        a:hover {
          color: v(brand);
        }
    }
    svg {
        fill: v(text);
        width: .75rem;
        height: .75rem;
        padding-right: .25rem;
        vertical-align: baseline;
        display: inline-flex;
        align-self: center;
        top: 2px;
        position: relative;
    }
    time {
        grid-row: 2;
        grid-column: 2;
        margin-top: $spacing-unit * .25;
        margin-bottom: .1rem; 
    }
    #post-categories {
        margin-top: .25rem;
        a {
            border-radius: 3px;
            font-weight: normal;
            padding: .15rem .25rem;
            background-color: v(highlight);
            color: v(text-lighter);
            &:not(:first-child) {
                margin-left: .2rem;
            }
        }
        @include media-query($shmedium) {
            grid-row: 2;
        }
    }
}
.post-content {
    /* Link and Bold styling */
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { // keep style for links in headings
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        background-color: initial;
        padding: 0;
        &:hover {
            background-color: inherit;
        }
    }
    strong, a {    
        border-radius: 3px;
        font-weight: normal;
        padding: .15rem .25rem;
        font-size: .85rem;
        background-color: v(highlight);
    }
    strong {        
        color: v(text);
    }
    a {
        color: v(brand);
        &:hover {
            background-color: v(brand-highlight);
        }
    }
    /* Bigger First Paragraph */
    .feat-img + p {
        font-size: 1.4rem;
        line-height: 1.5;
        font-style: italic;
        a {
            font-size: 1.25rem;
        }
    }
    /* Quotes */
    blockquote {
        @extend .container;
        font-style: italic;    
        font-size: .9rem;
        border: .1rem solid v(blockquote);
        box-shadow: 0.35rem 0.35rem 0 v(blockquote);
        border-radius: 3px;
        padding: 0;
        font-weight: 200;        
        color: inherit;
        > p {
            padding: .75rem 2rem;
            margin: 0;
            max-width: fit-content;
            a {
                background-color: unset;
                color: v(brand);
                font-weight: bold;
                &:hover {
                    background-color: unset;
                }
            }
        }
        > blockquote { /* targets only child bq - usually author credit */
            border: 0;
            margin: 0 2rem;
            width: unset;
            box-shadow: none;
            border-top: .1rem solid v(blockquote);
            border-radius: 0;
            font-family: $Monospace;
            font-style: normal;
            font-weight: bold;
            font-size: .75rem;
            > p {
                padding: .75rem 0 1rem;
                > a {
                    font-size: .75rem;
                }
            }
        }
    }
    blockquote.big-quote {
        @include grid-wide;
        margin: 1rem 0 3rem 0;
        border: none;
        box-shadow: none;
        color: v(heading);
        font-size: 1.75rem;
        line-height: 1.2;
        > p {
            padding: 0;
        }
        > blockquote {
            border: none;
            margin: 0;
        }
        > blockquote > p {
            padding: .75rem 0;
        }
    }
    /* Ordered and Unordered Lists */
    ul {
        list-style-type: none;
        @include media-query($regular) { // TODO needs to change once figure out content width
            padding-left: 0;
        }
        li {
            margin-bottom: .2rem;
            margin-left: 1.5rem;
            &:before {
                content: '';
                display: block;
                height: .3rem;
                width: .3rem;
                background-image: url(/assets/images/svg/coin-bullet-dark.svg);
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: -1.5rem;
                position: absolute;
                margin-top: .6rem;
            }
        }
    }
    ol {
        counter-reset: counter;
        list-style: none;
        li {
            line-height: 1.3;
            padding-left: 3rem;
            margin-bottom: 1rem;
            &::before {
                content: counter(counter, upper-roman);
                counter-increment: counter;
                color: v(heading);
                position: absolute;
                margin-left: -3rem;
            }
        }
    }
    ol.counter-reset { /* used in .md files to continue ol with <p> in between */
        counter-reset: auto;        
    }
    li:last-child {
        margin-bottom: 0;
    }
}
/* --------------------------------------------------------
            Image Styles
-------------------------------------------------------- */
img {
    max-width: 100%;
    display: block;
    margin: $spacing-unit * 2 auto;
}
/* Featured image - applies on post and article card */
.feat-img {
    grid-column: 1 / 17;
    margin: 0 auto 2rem auto;
    width: 100%;    
    img {
        margin: 0 auto;
    }
}  
/* .figure class used in figure.html include for images in .post-content.
Below styling applies to all types and sizes of images in post-content.
Unique styling based on the different `include figure.html` attributes below. */
.figure {
    display: grid; 
    grid-column-gap: .65rem;
    grid-row-gap: .65rem;
    border-radius: 3px;
    position: relative;
    z-index: 10;
    margin: 0 auto 2rem auto;
    padding: 0;
    div {
        grid-row: 1;
        border-radius: 3px;
    }
    img {
        display: block;
        border-radius: 3px;
        margin: 0;
    }
    figcaption {
        color: v(text-lighter);
        font-size: .7rem;
        font-style: italic;
        grid-row: 2;
        justify-self: start;
        padding-left: .5rem;
    }
    a {
        padding: 0;
        background-color: unset;        
        &:hover {
            background-color: unset;
        }
    }        
}
.gtc-1 {
    grid-template-columns: 1fr;
}
.gtc-2 {
    grid-template-columns: 1fr 1fr;
    max-width: unset !important;
    figcaption {
        grid-column: 1 / 3;
    }
}
.gtc-3 {
    grid-template-columns: 1fr 1fr 1fr;
    figcaption {
        grid-column: 1 / 4;
    }
}
.gtc-4 {
    grid-template-columns: 1fr 1fr;
    div {
        grid-row: unset;
    }
    figcaption {
        grid-column: 1 / 3;
        grid-row: 3;
    }
}
.figure--sml {
    max-width: 10rem;
    img {   
        max-width: 10rem;    
    }
}
.figure--full {
    @include grid-full-width-normal;
}
.figure--wide {
    @include grid-full-width-wide;
}
.figure--vwide {
    @include grid-full-width-very-wide;
}
.svg-tiny {
	display: inline;
	margin: 0;
	height: .75rem;
	width: .75rem;
	margin-right: .2rem;
	position: relative;
	top: .145rem;
}
.svg-small {
	display: inline;
	margin: 0;
	height: .85rem;
	width: .85rem;
	margin-right: .2rem;
	position: relative;
	top: .165rem;
}
.svg-reg {
	display: inline;
    margin: 0;
    height: 1em !important;
    width: 1em !important;
    position: relative;
    top: .1rem;
	margin-left: .5rem;
	margin-bottom: 0 !important;
	&--left {
		@extend .svg-reg;
		margin-left: 0 !important;
		margin-right: .2rem !important;
	}
}