// --------------------------------------------------------
//          Font Sizes, Styles, and Colors
// --------------------------------------------------------
html, body {
    font: $base-font-weight #{$base-size}/#{$base-line-height} $SansSerif;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
p, ol, ul {
    margin-bottom: $base-size * 2;
}
h1, h2, h3, h4, h5 {
    font-weight: 900;
    font-family: $SansSerif;
    line-height: 1.2;
    color: $heading-color;
    }
h1 {  
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
    margin-bottom: .5rem;
}
h2 {  
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
    margin-bottom: .8rem;
}
h3 { 
    @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
    margin-bottom: .5rem;
}
h5 {
    font-family: $Monospace;
    color: $alt-color;
    margin-bottom: .4rem;
}
a {
    color: $brand-color;
    text-decoration: none;
    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
}

// --------------------------------------------------------
//          Header and Nav Styles
// --------------------------------------------------------
#logo {
    margin: 0;
    max-width: 4rem;
}
.site-nav a {
    &:not(:last-child) {
        margin-right: 1.5rem;        
    }
}
.hashtag-nav a {
    margin: 0;
    color: $text-color;
    background-color: $grey-color-light;
    border-radius: 4px;
    padding: .15rem;
    line-height: 2;
    &:hover {
        color: $heading-color;
    }
    &:first-child {
        margin-left: .5rem;
    }
    &:not(:last-child) {
        margin-right: .2rem;
    }
}

// --------------------------------------------------------
//          Footer Styles
// --------------------------------------------------------
#footer-cta {
    background-image: url(/assets/images/svg/coin-grey-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: fit-content;
    svg {
        fill: $dark-brand-faded;
        padding: 13px 14px 14px 14px;
        cursor: pointer;
        width: 1.1rem;
        height: 1.1rem; 
        &:hover {
            fill: $brand-color;
        }     
    }    
}
#bottom-foot {    
    svg {
        fill: $text-color;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        &:hover {
            fill: $brand-color;
        }     
    }
    ul {
        text-align: center;
        margin: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            &:not(:last-child) {
                margin-right: 1rem;
            }
            a {
                color: $text-color;
                &:hover {
                    color: $brand-color;
                }     
            }
        }
    }
}

// --------------------------------------------------------
//          Article Page Styles
// --------------------------------------------------------

.article-subtitle {
    @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}
.post-meta {
    font-size: .85rem;
    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows: auto auto;
    @include media-query($medium) {
        margin-bottom: $base-size * 1.5;
        grid-template-columns: 5rem auto;
    }
    @include media-query($regular) {
        margin-bottom: $base-size * 4;
    }
    #ring {
        background-image: url(/assets/images/svg/coin-gold-ring.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 60px;
        width: 60px;
        margin-top: -4px;
        @include media-query($medium) {
        height: 83px;
        width: 83px;
        margin-top: -6px;
        }
        @include media-query($regular) {
        height: 95px;
        width: 95px;
        }
    }
    img {      
        border-radius: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        max-height: 50px;
        max-width: 50px;
        margin: 0 0 0 3px;
        @include media-query($medium) {
            max-height: 70px;
            max-width: 70px;
            margin: 0 0 0 5px;
        }
        @include media-query($regular) {
            max-height: 80px;
            max-width: 80px;
            margin: 0 0 0 6px;
        }
    }
    span {
        align-self: end;
        margin-bottom: .1rem; 
        a:hover {
          color: $brand-color;
        }
    }
    svg {
        fill: $text-color;
        width: .85rem;
        height: .85rem;
        padding-right: .25rem;
        vertical-align: baseline;
        display: inline-flex;
        align-self: center;
        top: 2px;
        position: relative;
    }
    time {
        margin-top: $spacing-unit * .25;
    }
}




// --------------------------------------------------------
//          Image Styles
// --------------------------------------------------------
img {
    max-width: 100%;
    vertical-align: middle;
    margin: $spacing-unit * 2 auto;
  }