/* --------------------------------------------------------
            Font Sizes, Styles, and Colors
-------------------------------------------------------- */
html, body {
    font: $base-font-weight #{$base-size}/#{$base-line-height} $SansSerif;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
p, ol, ul, blockquote {
    margin-bottom: 2rem;
}
h1, h2, h3, h4, h5 {
    font-weight: 900;
    font-family: $SansSerif;
    line-height: 1.2;
    color: v(heading);
    }
h1 {  
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
    margin-bottom: .5rem;
}
h2 {  
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
    margin-top: 4rem;
    margin-bottom: .8rem;
}
h3 { 
    @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
    margin-bottom: .5rem;
}
h5 {
    font-family: $Monospace;
    color: v(alt);
    margin-bottom: .4rem;
}
a {
    color: v(brand);
    text-decoration: none;
    &:hover {
      color: v(brand);
      text-decoration: none;
    }
}
/* --------------------------------------------------------
            Main Header and Nav Styles
-------------------------------------------------------- */
#logo {
    margin: 0;
    max-width: 5rem;
    &:hover {
        #LetterP {
            transform: translatex(50px);
            transition: 0.2s;
        }
    }
    #LetterP {
        transition: 0.4s;
    }
}
.site-nav a {
    &:not(:last-child) {
        margin-right: 1.5rem;        
    }
}
.hashtag-nav a {
    margin: 0;
    color: v(text-light);
    background-color: v(bg-highlight);
    border-radius: 3px;
    padding: .15rem .25rem;
    line-height: 2;
    &:hover {
        color: v(heading);
    }
    &:first-child {
        margin-left: .5rem;
    }
    &:not(:last-child) {
        margin-right: .2rem;
    }
}
/* --------------------------------------------------------
            Footer Styles
-------------------------------------------------------- */
#footer-cta {
    background-image: url(/assets/images/svg/coin-grey-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: fit-content;
    svg {
        fill: v(brand-darkest-faded);
        padding: 13px 14px 14px 14px;
        cursor: pointer;
        width: 1.1rem;
        height: 1.1rem;    
    }    
}
#bottom-foot {    
    svg {
        fill: v(text);
        width: 1rem;
        height: 1rem;
        vertical-align: middle; 
    }
    ul {
        text-align: center;
        margin: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            &:not(:last-child) {
                margin-right: 1rem;
            }
            a {
                color: v(text);
                &:hover {
                    color: v(brand);
                }     
            }
        }
    }
}
/* --------------------------------------------------------
            Articles & Pages Styles
-------------------------------------------------------- */
.post-header {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-gap: 1rem 0;
    padding: 0; //delete in existing
    width: unset; //delete in existing or remove after .container styles removed
    margin-left: auto;
    margin-right: auto;
    .post-title {
        grid-row: 1;
        grid-column: 2 / 16;
        margin: 0; //delete in existing
    }
    .article-subtitle {
        grid-row: 2;
        grid-column: 2 / 16;
        margin: 0; //delete in existing
    }
    .post-meta {
        grid-row: 3;
        grid-column: 2 / 16;
        position: relative; // for #ring
        margin: 0; //delete in existing
    }
}
.article-subtitle {
    @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}
.post-meta {
    font-size: .85rem;
    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows: auto auto;
    @include media-query($medium) {
        margin-bottom: $base-size * 1.5;
        grid-template-columns: 5rem auto;
    }
    @include media-query($regular) {
        margin-bottom: $base-size * 4;
    }
    #ring {
        background-image: url(/assets/images/svg/coin-gold-ring.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 60px;
        width: 60px;
        margin-top: -4px;
        @include media-query($medium) {
            height: 83px;
            width: 83px;
            margin-top: -6px;
        }
        @include media-query($regular) {
            height: 95px;
            width: 95px;
        }
    }
    img {      
        border-radius: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        max-height: 50px;
        max-width: 50px;
        margin: 0 0 0 3px;
        @include media-query($medium) {
            max-height: 70px;
            max-width: 70px;
            margin: 0 0 0 5px;
        }
        @include media-query($regular) {
            max-height: 80px;
            max-width: 80px;
            margin: 0 0 0 6px;
        }
    }
    span {
        align-self: end;
        margin-bottom: .1rem; 
        a:hover {
          color: v(brand);
        }
    }
    svg {
        fill: v(text);
        width: .85rem;
        height: .85rem;
        padding-right: .25rem;
        vertical-align: baseline;
        display: inline-flex;
        align-self: center;
        top: 2px;
        position: relative;
    }
    time {
        margin-top: $spacing-unit * .25;
    }
}
.post-content {
    /* Link and Bold styling */
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { // keep style for links in headings
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        background-color: initial;
        padding: 0;
        &:hover {
            background-color: inherit;
        }
    }
    strong, a {    
        border-radius: 3px;
        font-weight: normal;
        padding: .15rem .25rem;
        font-size: .85rem;
        background-color: v(bg-highlight);
    }
    strong {        
        color: v(heading);
    }
    a {
        color: v(brand);
        &:hover {
            background-color: v(brand-darkest);
        }
    }
    /* Bigger First Paragraph */
    .feat-img + p {
        font-size: 1.4rem;
        line-height: 1.5;
        font-style: italic;
        a {
            font-size: 1.25rem;
        }
    }
    /* Quotes */
    blockquote {
        @extend .container;
        font-style: italic;    
        font-size: .9rem;
        border: .1rem solid v(alt);
        box-shadow: 0.35rem 0.35rem 0 v(alt);
        border-radius: 3px;
        padding: 0;
        font-weight: 200;        
        color: inherit;
        > p {
            padding: .75rem 2rem;
            margin: 0;
            max-width: fit-content;
            a {
                background-color: unset;
                color: v(brand);
                font-weight: bold;
                &:hover {
                    background-color: unset;
                }
            }
        }
        > blockquote { /* targets only child bq - usually author credit */
            border: 0;
            margin: 0 2rem;
            width: unset;
            box-shadow: none;
            border-top: .1rem solid v(alt);
            border-radius: 0;
            font-family: $Monospace;
            font-style: normal;
            font-weight: bold;
            font-size: .75rem;
            > p {
                padding: .75rem 0 1rem;
                > a {
                    font-size: .75rem;
                }
            }
        }
    }
    blockquote.big-quote {
        @include grid-wide;
        margin: 1rem 0 3rem 0;
        border: none;
        box-shadow: none;
        color: v(heading);
        font-size: 1.75rem;
        line-height: 1.2;
        > p {
            padding: 0; //delete in existing
            margin: 0; //delete in existing if any
            width: unset; //delete in existing
        }
        > blockquote {
            border: none;
            @include media-query($medium) {
                margin: 0; //delete in existing
            }
        }
        > blockquote > p {
            padding: .75rem 0; //delete in existing
        }
    }
    /* Ordered and Unordered Lists */
    ul {
        list-style-type: none;
        @include media-query($regular) { // needs to change once figure out content width
            padding-left: 0;
        }
        li {
            margin-bottom: .2rem;
            margin-left: 1.5rem;
            &:before {
                content: '';
                display: block;
                height: .3rem;
                width: .3rem;
                background-image: url(/assets/images/svg/coin-bullet-dark.svg);
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: -1.5rem;
                position: absolute;
                margin-top: .6rem;
            }
        }
    }
    ol {
        counter-reset: counter;
        list-style: none;
        li {
            line-height: 1.3;
            padding-left: 3rem;
            margin-bottom: 1rem;
            &::before {
                content: counter(counter, upper-roman);
                counter-increment: counter;
                color: v(heading);
                position: absolute;
                margin-left: -3rem;
            }
        }
    }
    ol.counter-reset { // used in .md files to continue ol with <p> in between
        counter-reset: auto;        
    }
}
/* --------------------------------------------------------
            Image Styles
-------------------------------------------------------- */
img {
    max-width: 100%;
    display: block;
    margin: $spacing-unit * 2 auto;
}
.figure {
    position: relative;
    z-index: 10;
    a {
        padding: 0;
    }
    figcaption {
        font-size: .75rem;
        margin-top: .2rem;
    }
}
/* Featured image - applies on post and article card */
.feat-img {
    grid-column: 1 / 17;
    max-width: 100%;  //delete in existing
    margin: 0 auto 2rem auto;
    width: 100%;
}    
/* Small Image that Floats Left */
.figure--sml--left {    
    float: left;
    margin: 0 auto;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    img {
        max-height: 14rem;            
        max-width: 20rem;
        width: unset;
        margin: 0;
    }
}
/* Three Images */
p.img-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: .65rem;
    max-width: 1032px;
    width: unset;
    padding: 0;
    > a > img, > img { // will apply whether link or not
        margin: 0;
    }
}
/* Two Images */
p.img-2 {
    @extend .img-3;
    grid-template-columns: 1fr 1fr;
    max-width: 740px;
}
/* Three Small Images */
p.sml-img-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: .65rem;
    width: unset;
    padding: 0;        
    > a > img, > img { // will apply whether link or not
        margin: 0;
    }
}
/* Gallery of Four Images */
p.med-img-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .65rem;
    grid-row-gap: .65rem;
    padding: 0;
    max-width: 740px;
    img {
        margin: 0;
    }
}
/* Extra Large Image */
p.xlg-img {
    width: unset;
    max-width: 2500px;
    padding: 0;
    img {
        max-width: 100%;
    }
}
/* Large Image */
p.lg-img {
    width: unset;
    padding: 0;
    max-width: 1200px;
    img {
        max-width: 100%;
    }
}
/* Large Portrait Image */
p.lg-img-pt {
    width: unset;
    max-width: 900px;
    padding: 0;
    img {
        max-width: 100%;
    }
}
.svg-tiny {
	display: inline;
	margin: 0;
	height: .75rem;
	width: .75rem;
	margin-right: .2rem;
	position: relative;
	top: .145rem;
}
.svg-small {
	display: inline;
	margin: 0;
	height: .85rem;
	width: .85rem;
	margin-right: .2rem;
	position: relative;
	top: .165rem;
}
.svg-reg {
	display: inline;
    margin: 0;
    height: 1em !important;
    width: 1em !important;
    position: relative;
    top: .1rem;
	margin-left: .5rem;
	margin-bottom: 0 !important;
	&--left {
		@extend .svg-reg;
		margin-left: 0 !important;
		margin-right: .2rem !important;
	}
}