/* --------------------------------------------------------
            Container and Intro Text
-------------------------------------------------------- */
.subscribe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;    
    grid-gap: .75rem;
    margin: 2rem auto 1rem auto;
    padding: 0 1rem;
    text-align: center;
    > * {
        margin-top: 0;
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0;
    }
    p {
        @include media-query($medium) {
            font-size: $base-font-size * 1.308;
            line-height: $base-font-size * 1.615;
        }
    }
}
/* --------------------------------------------------------
            Subscribe Form
-------------------------------------------------------- */
.ml-input-horizontal, .ml-button-horizontal { 
    display: inline-block; 
}
.ml-block-form input[type="email"] {
    font-family: $Monospace;
    font-size: .85rem; 
    font-weight: 900;
    border-top: none; border-right: none; border-left: none;
    border-bottom: 1px solid v(text);
    border-radius: 0;
    -webkit-border-radius: 0;
    color: v(brand); 
    background-color: v(bg); 
    box-sizing:border-box; 
    padding: $spacing-unit * .5 0;
    display: inline-block; 
    margin: 0; 
    width: 170px; 
    vertical-align:top;
    -webkit-appearance: none;
    @include media-query($small) {
        width: 190px;        
    }
    @include media-query($medium) {
        width: 275px;
        font-size: $base-font-size * 1.308;        
    }
}
.ml-block-form input {
    &::-webkit-input-placeholder {
        color: v(brand);
        font-weight: 400;
    }
    &::-moz-placeholder {
        color: v(brand);
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: v(brand);
    }
    &:-moz-placeholder {
        color: v(brand);
        opacity: 1;
    }
    &:focus {
        outline: none;
    }
}
.ml-block-form label {
    // display:block;
    font-size:16px;
    padding-bottom:10px;
    font-weight:bold;
}
.ml-block-form .clear {
    display: inline-block;
    @include media-query($small) {
        padding-left: $spacing-unit * 2;
    }
}
.ml-button-horizontal {
    @include media-query($small) {
        padding-left: $spacing-unit * 2;
    }
}
.ml-block-form button {
    font-family: $SansSerif;
    font-size: .85rem;
    border: none; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    color: v(bg); 
    background-color: v(brand); 
    box-sizing:border-box; 
    padding:$spacing-unit * .75 $spacing-unit * 3; 
    display: inline-block; 
    margin: 0; 
    transition: all 0.08s ease-in-out 0.08s;
    -webkit-appearance: none;    
    @include media-query($medium) {
        font-size: $base-font-size * 1.308;        
    }
}
.ml-block-form button:hover {
    cursor:pointer;
}
.ml-form-embedSubmitLoad {
    display: inline-block;
    width: 20px;
    height: 20px
}
.ml-form-embedSubmitLoad:after {
    content: " ";
    display: block;
    width: 11px;
    height: 11px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #fff #fff #fff transparent;
    animation: ml-form-embedSubmitLoad 1.2s linear infinite
}
@keyframes ml-form-embedSubmitLoad {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}