aside.rec-art {    
    background-color: $dark-background-highlight;
    padding: $spacing-unit * 2;
    margin: $spacing-unit * 4 auto $spacing-unit * 4 auto;

    a {
        background-color: initial;
        padding: 0;

        &:hover {
            background-color: initial;
        }
    }

    @media (min-width: $on-iphonex) {
        // margin: $spacing-unit * 4 auto $spacing-unit * 6 auto;
    }

    @media (min-width: $on-phone-ls) {
        margin: $spacing-unit * 4 auto $spacing-unit * 6 auto;
        border-radius: 5px;
        max-width: 568px;
    }

    @media (min-width: $on-tablet-big) {
        max-width: 692px;
        margin: $spacing-unit * 6 auto $spacing-unit * 8 auto;
    }

    .rec-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0;

        .rec-info {
            margin-right: $spacing-unit * 2;
            width: 100%;

            @media (min-width: $on-iphonex) {
                margin-right: $spacing-unit * 4;
            }

            h4, h5, p {
                width: 100%;
                padding: 0;                
            }

            h4 {
                color: $brand-color;
                font-size: $base-font-size;
                line-height: $base-font-size * 1.308;

                @media (min-width: $on-iphonex) {
                    font-size: $base-font-size * 1.154;
                    line-height: $base-font-size * 1.462
                }

                @media (min-width: $on-tablet-big) {
                    font-size: $base-font-size * 1.538;
                    line-height: $base-font-size * 1.846;
                }
            }

            h5 {
                font-size: $base-font-size * 0.846;
                line-height: $base-font-size * 0.846;
                
                @media (min-width: $on-iphonex) {
                    font-size: $base-font-size;
                    line-height: $base-font-size;
                }

                @media (min-width: $on-tablet-big) {
                    font-size: $base-font-size * 1.154;
                    line-height: $base-font-size * 1.154;
                }
            }

            p {
                margin: 0;
                font-size: $base-font-size;

                @media (min-width: $on-iphonex) {
                    font-size: $base-font-size * 1.077;                
                }

                @media (min-width: $on-tablet-big) {
                    font-size: $base-font-size * 1.385
                }
            }
        }

        .rec-img {
            margin-top: auto;
            min-width: 90px;
            min-height: 90px;
    
            @media (min-width: $on-tablet-big) {
                min-width: 125px;
                min-height: 125px;
            }
    
            img {
                border-radius: 5px;;
                object-fit: cover;
                width: 90px;
                height: 90px;
        
                @media (min-width: $on-tablet-big) {
                    width: 125px;
                    height: 125px
                }
            }
        }
    }
}