<section class="featured-articles recommended" aria-labelledby="post-list-heading">
    <div class="container container-overflow">
        <div class="featured-article-header">
            <h2 id="post-list-heading" class="post-list-heading">You might also enjoy</h2>
            <p class="see-more" aria-hidden="true">MORE<img class="no-dark-filter svg-reg" src="/assets/images/svg/right-arrow-alt.svg" alt="" /></p>
        </div>
        <div class="article-container">
            <ul class="post-list" aria-label="Recommended articles">
                {% assign i = 0 %}{%- for post in site.posts -%}{%- unless post.categories contains "casestudy" -%}
                <li class="article-{{ i }}">
                    <article>
                        {% assign i = i | plus:1 -%}
                        {%- if post.image -%}
                        <a href="{{ post.url | relative_url }}">
                            {% if i == 1 %}
                                {% include featured-image-card-highlight.html image=post.image alt=post.image-alt %}
                            {% else %}
                                {% include featured-image-card.html image=post.image alt=post.image-alt %}
                            {% endif %}
                        </a>
                        {%- endif %}
                        <div class="article-info">
                            <h3 itemprop="headline"><a class="post-link" href="{{ post.url | relative_url }}">
                                {%- if post.display-title -%}
                                    {{ post.display-title | escape }}
                                {%- else -%}
                                    {{ post.title | escape }}
                                {%- endif -%}
                            </a></h3>
                            <p itemprop="alternativeHeadline">
                                {%- if post.display-description -%}
                                    {{ post.display-description | escape }}
                                {%- else -%}
                                    {{ post.description | escape }}
                                {%- endif -%}
                            </p>
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, '%y" %}
                            <p class="post-meta"><svg class="no-dark-filter svg-reg--left"><use xlink:href="#post-grey" /></svg>{{ post.date | date: date_format }}</p>
                        </div>
                    </article>
                </li>
                {% if i == 6 %}{% break %}{% endif %}{%- endunless -%}{%- endfor -%}
            </ul>
        </div>
    </div>
</section>