<svg class="coin"><use xlink:href="#coin-gold-ring" /></svg>
<figure>
    <picture>
        <source
            sizes="(min-width: 768px) 85px, 55px"
            srcset="/.netlify/images?url=/assets/images/reggie-paquette.jpeg&w=250&fm=avif 250w,
                /.netlify/images?url=/assets/images/reggie-paquette.jpeg&w=400&fm=avif 400w"
            type="image/avif"
        />
        <source
            sizes="(min-width: 768px) 85px, 55px"
            srcset="/.netlify/images?url=/assets/images/reggie-paquette.jpeg&w=250&fm=webp 250w,
                /.netlify/images?url=/assets/images/reggie-paquette.jpeg&w=400&fm=webp 400w"
            type="image/webp"
        />
        <img
            class="author"
            src="/assets/images/reggie-paquette.jpeg"
            alt="Reggie Paquette photo"
            width=85
            height=85
        />
    </picture>
</figure>