<svg class="coin"><use xlink:href="#coin-gold-ring" /></svg>
<figure>
    <picture>
        <source
            sizes="(min-width: 768px) 85px, 55px"
            srcset="assets/images/webp/reggie-paquette-250.webp 250w,
                assets/images/webp/reggie-paquette.webp 400w"
            type="image/webp"
        />
        <source 
            sizes="(min-width: 768px) 85px, 55px"
            srcset="assets/images/reggie-paquette-250.jpeg 250vw,
                assets/images/reggie-paquette.jpeg 400vw"
            type="image/jpeg"
        />
        <img
            class="author"
            src="/assets/images/reggie-paquette.jpeg"
            alt="Reggie Paquette photo"
        />
    </picture>
</figure>