<figure class="feat-img">
    <picture>
        <source
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="/.netlify/images?url={{ include.image }}&w=572&fm=avif 572w,
                /.netlify/images?url={{ include.image }}&w=790&fm=avif 790w,
                /.netlify/images?url={{ include.image }}&w=880&fm=avif 880w,
                /.netlify/images?url={{ include.image }}&w=1600&fm=avif 1600w,
                /.netlify/images?url={{ include.image }}&w=2450&fm=avif 2450w,
                /.netlify/images?url={{ include.image }}&w=3200&fm=avif 3200w,
                /.netlify/images?url={{ include.image }}&w=4000&fm=avif 4000w"
            type="image/avif"
        />
        <source
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="/.netlify/images?url={{ include.image }}&w=572&fm=webp 572w,
                /.netlify/images?url={{ include.image }}&w=790&fm=webp 790w,
                /.netlify/images?url={{ include.image }}&w=880&fm=webp 880w,
                /.netlify/images?url={{ include.image }}&w=1600&fm=webp 1600w,
                /.netlify/images?url={{ include.image }}&w=2450&fm=webp 2450w,
                /.netlify/images?url={{ include.image }}&w=3200&fm=webp 3200w,
                /.netlify/images?url={{ include.image }}&w=4000&fm=webp 4000w"
            type="image/webp"
        />
        <img
            itemprop="image"
            src="{{ include.image }}"
            alt="{{ include.alt }}"
            width=1250
            height=569
        />
    </picture>
</figure>
