{%- assign img = include.image | split: '.' -%}
{%- assign lgImagePath = img[0] | remove_first: "/" | append: "-3200" | append: "." | append: img[1] -%}
{%- assign mdImagePath = img[0] | remove_first: "/" | append: "-2450" | append: "." | append: img[1] %}
{%- assign smImagePath = img[0] | remove_first: "/" | append: "-1600" | append: "." | append: img[1] %}
<figure class="feat-img">
    <picture>
        {%- capture lgImage -%}{%- file_exists {{lgImagePath}} -%}{%- endcapture -%}
        {%- capture mdImage -%}{%- file_exists {{mdImagePath}} -%}{%- endcapture -%}
        {%- capture smImage -%}{%- file_exists {{smImagePath}} -%}{%- endcapture -%}
        {%- if lgImage == 'true' %}
        <source            
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="/assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-572.webp 572w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-790.webp 790w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-880.webp 880w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-1600.webp 1600w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-2450.webp 2450w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-3200.webp 3200w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-4000.webp 4000w"
            type="image/webp"
        />
        <source
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="{{ img[0] }}-572.{{ img[1] }} 572w,
                {{ img[0] }}-790.{{ img[1] }} 790w,
                {{ img[0] }}-880.{{ img[1] }} 880w,
                {{ img[0] }}-1600.{{ img[1] }} 1600w,
                {{ img[0] }}-2450.{{ img[1] }} 2450w,
                {{ img[0] }}-3200.{{ img[1] }} 3200w,
                {{ img[0] }}-4000.{{ img[1] }} 4000w"
            type="image/{{ img[1] }}"
        />
        {%- elsif mdImage == 'true' -%}
        <source            
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="/assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-572.webp 572w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-790.webp 790w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-880.webp 880w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-1600.webp 1600w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-2450.webp 2450w"
            type="image/webp"
        />
        <source
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="{{ img[0] }}-572.{{ img[1] }} 572w,
                {{ img[0] }}-790.{{ img[1] }} 790w,
                {{ img[0] }}-880.{{ img[1] }} 880w,
                {{ img[0] }}-1600.{{ img[1] }} 1600w,
                {{ img[0] }}-2450.{{ img[1] }} 2450w"
            type="image/{{ img[1] }}"
        />
        {%- elsif smImage == 'true' -%}
        <source            
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="/assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-572.webp 572w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-790.webp 790w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-880.webp 880w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-1600.webp 1600w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-1600.webp 2000w"
            type="image/webp"
        />
        <source
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="{{ img[0] }}-572.{{ img[1] }} 572w,
                {{ img[0] }}-790.{{ img[1] }} 790w,
                {{ img[0] }}-880.{{ img[1] }} 880w,
                {{ img[0] }}-1600.{{ img[1] }} 1600w,
            type="image/{{ img[1] }}"
        />
        {%- else -%}
        <source            
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="/assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-572.webp 572w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-790.webp 790w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-880.webp 880w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-880.webp 1600w,
                /assets/images/webp/{{ include.image | split: "/" | last | split: "." | first }}-880.webp 2000w"
            type="image/webp"
        />
        <source
            sizes="(max-width: 1999px) 100vw, (min-width: 2000px) 2000px"
            srcset="{{ img[0] }}-572.{{ img[1] }} 572w,
                {{ img[0] }}-790.{{ img[1] }} 790w,
                {{ img[0] }}-880.{{ img[1] }} 880w,
            type="image/{{ img[1] }}"
        />         
        {%- endif %}      
        <img
            itemprop="image"
            src="{{ include.image }}"
            alt="{{ include.alt }}"
            width=1250
            height=569
        />
    </picture>
</figure>