<figure class="figure no-dark-filter figure--{{ include.width }} {% if include.image4 %}gtc-4{% elsif include.image3 %}gtc-3{% elsif include.image2 %}gtc-2{% else %}gtc-1{% endif %}">
    <div>
        <picture>
            {%- unless include.image contains ".gif" -%}
            <source
                srcset="/.netlify/images?url={{ include.image }}&w=572&fm=avif 572w,
                    /.netlify/images?url={{ include.image }}&w=880&fm=avif 880w,
                    /.netlify/images?url={{ include.image }}&w=1600&fm=avif 1600w"
                type="image/avif"
            />
            <source
                srcset="/.netlify/images?url={{ include.image }}&w=572&fm=webp 572w,
                    /.netlify/images?url={{ include.image }}&w=880&fm=webp 880w,
                    /.netlify/images?url={{ include.image }}&w=1600&fm=webp 1600w"
                type="image/webp"
            />
            {%- endunless -%}
            <img class="image {% if include.filter %}no-dark-filter{% endif %}" src="{{ include.image }}" alt="{{ include.caption }}" loading="lazy" />
        </picture>
    </div>
    {%- if include.image2 -%}
    <div>
        <picture>
            <source
                srcset="/.netlify/images?url={{ include.image2 }}&w=572&fm=avif 572w,
                    /.netlify/images?url={{ include.image2 }}&w=880&fm=avif 880w,
                    /.netlify/images?url={{ include.image2 }}&w=1600&fm=avif 1600w"
                type="image/avif"
            />
            <source
                srcset="/.netlify/images?url={{ include.image2 }}&w=572&fm=webp 572w,
                    /.netlify/images?url={{ include.image2 }}&w=880&fm=webp 880w,
                    /.netlify/images?url={{ include.image2 }}&w=1600&fm=webp 1600w"
                type="image/webp"
            />
            <img class="image {% if include.filter %}no-dark-filter{% endif %}" src="{{ include.image2 }}" alt="{{ include.caption }}" loading="lazy" />
        </picture>
    </div>
    {%- endif -%}
    {%- if include.image3 -%}
    <div>
        <picture>
            <source
                srcset="/.netlify/images?url={{ include.image3 }}&w=572&fm=avif 572w,
                    /.netlify/images?url={{ include.image3 }}&w=880&fm=avif 880w,
                    /.netlify/images?url={{ include.image3 }}&w=1600&fm=avif 1600w"
                type="image/avif"
            />
            <source
                srcset="/.netlify/images?url={{ include.image3 }}&w=572&fm=webp 572w,
                    /.netlify/images?url={{ include.image3 }}&w=880&fm=webp 880w,
                    /.netlify/images?url={{ include.image3 }}&w=1600&fm=webp 1600w"
                type="image/webp"
            />
            <img class="image {% if include.filter %}no-dark-filter{% endif %}" src="{{ include.image3 }}" alt="{{ include.caption }}" loading="lazy" />
        </picture>
    </div>
    {%- endif -%}
    {%- if include.image4 -%}
    <div>
        <picture>
            <source
                srcset="/.netlify/images?url={{ include.image4 }}&w=572&fm=avif 572w,
                    /.netlify/images?url={{ include.image4 }}&w=880&fm=avif 880w,
                    /.netlify/images?url={{ include.image4 }}&w=1600&fm=avif 1600w"
                type="image/avif"
            />
            <source
                srcset="/.netlify/images?url={{ include.image4 }}&w=572&fm=webp 572w,
                    /.netlify/images?url={{ include.image4 }}&w=880&fm=webp 880w,
                    /.netlify/images?url={{ include.image4 }}&w=1600&fm=webp 1600w"
                type="image/webp"
            />
            <img class="image {% if include.filter %}no-dark-filter{% endif %}" src="{{ include.image4 }}" alt="{{ include.caption }}" loading="lazy"/>
        </picture>
    </div>
    {%- endif -%}
    {%- if include.caption -%}
    <figcaption class="caption">{%- if include.link -%}
        <a target="_blank" href="{{ include.link }}">{%- endif -%}{{ include.caption }}{%- if include.link -%}</a>{%- endif -%}
    </figcaption>{%- endif -%}
</figure>
