		<header class="site-header">
			<div class="site-title">
				{%- if page.post-id == 0 %}
				<h1>
					<a rel="author" href="{{ "/" | relative_url }}" aria-label="Go to homepage">					
						{% include /svg/logo.svg %}
					</a>
				</h1>
				{%- else %}
				<a rel="author" href="{{ "/" | relative_url }}" aria-label="Go to Regpaq Homepage">					
					{% include /svg/logo.svg %}
				</a>
				{%- endif %}
			</div>
			<span id="lightswitch" onclick="handleThemeUpdate()" aria-hidden="true">
				{% include /svg/sun-and-moon.svg %}
			</span>
			<nav class="site-nav" aria-label="Navigate main website pages">
				<a class="page-link" href="/" aria-label="Go to homepage">Home</a>
				<!-- <a class="page-link" href="/about" aria-label="Go to learn about Reggie">About</a> -->
				<!-- <a class="page-link" href="/library" aria-label="Go to Reggie's Library">Library</a> -->
				<a class="page-link" href="/resume" aria-label="Go to Reggie's Résumé">Résumé</a>
			</nav>
			<nav class="hashtag" aria-label="Navigate articles by their category">
				<span aria-hidden="true">Articles:</span>
				<a class="page-link" href="/all-articles" aria-label="Go to all latest articles in every category">#all</a>
				<a class="page-link" href="/philosophy" aria-label="Go to philosophy articles">#philosophy</a>
				<a class="page-link" href="/money" aria-label="Go to money articles">#money</a>
				<a class="page-link" href="/practical" aria-label="Go to practical articles">#practical</a>
				<a class="page-link" href="/booknotes" aria-label="Go to book notes articles">#booknotes</a>
				<a class="page-link" href="/marketing" aria-label="Go to marketing articles">#marketing</a>
				<a class="page-link" href="/self" aria-label="Go to self development articles">#self</a>
			</nav>
		</header>