<aside class="rec-art many" aria-label="Recommended Article">
    <a href="{{ post.url | relative_url }}">
        <div class="rec-container">
            <div class="rec-info">
                <p class="post-title">
                    {%- if post.display-title -%}
                        {{ post.display-title | escape }}
                    {%- else -%}
                        {{ post.title | escape }}
                    {%- endif -%}
                </p>
                <p class="post-desc">
                    {%- if post.display-description -%}
                        {{ post.display-description | escape }}
                    {%- else -%}
                        {{ post.description | escape }}
                    {%- endif -%}
                </p>
            </div>
            <div class="rec-img">
                <figure>
                    <picture>
                        <source srcset="/assets/images/webp/{{ post.image | split: "/" | last | split: "." | first }}.webp" type="image/webp" />
                        <source srcset="/assets/images/{{ post.image }}" type="image/{{ post.image | split: "." | last }}" />
                        <img itemprop="image" src="/assets/images/{{ post.image }}" alt="{{ post.image-alt }}" />
                    </picture>
                </figure>
            </div>
        </div>
    </a>
</aside>

