<aside class="rec-art" aria-label="Recommended Article">
    <a href="{{ post.url | relative_url }}">
        <div class="rec-container">        
            <div class="rec-info">
                <p class="heading">RECOMMENDED</p>
                <p class="post-title">
                    {%- if post.display-title -%}
                        {{ post.display-title | escape }}
                    {%- else -%}
                        {{ post.title | escape }}
                    {%- endif -%}
                </p>
                <p class="post-desc">
                    {%- if post.display-description -%}
                        {{ post.display-description | escape }}
                    {%- else -%}
                        {{ post.description | escape }}
                    {%- endif -%}
                </p>
            </div>
            <div class="rec-img">
                <figure>
                    <picture>
                        {%- assign pimg = post.image | split: '.' %}
                        <source
                            sizes="(min-width: 1024px) 274px, 198px"
                            srcset="/assets/images/webp/{{ post.image | split: "/" | last | split: "." | first }}-250.webp 250w,
                                /assets/images/webp/{{ post.image | split: "/" | last | split: "." | first }}-572.webp 572w"
                            type="image/webp"
                        />
                        <source
                            sizes="(min-width: 1024px) 274px, 198px"
                            srcset="{{ pimg[0] }}-250.{{ pimg[1] }} 250w,
                                {{ pimg[0] }}-572.{{ pimg[1] }} 572w"
                            type="image/
                                {%- if pimg[1] == "jpg" -%}
                                    jpeg"
                                {%- else -%}
                                    {{ pimg[1] }}"
                                {%- endif %}
                        />
                        <img
                            itemprop="image"
                            src="{{ post.image }}"
                            alt="{{ post.image-alt }}"
                            loading="lazy"
                        />
                    </picture>
                </figure>
            </div>        
        </div>
    </a>
</aside>

