<aside class="rec-art" aria-label="Recommended Article">
    <div class="rec-container">
        <div class="rec-info">
            <h5>RECOMMENDED</h5>
            <a href="{{ post.url | relative_url }}"><h4>{{ post.title }}</h4></a>
            <p>{{ post.description }}</p>
        </div>
        <div class="rec-img">
            <figure>
                <a href="{{ post.url | relative_url }}"><img src="{{ site.baseurl }}/assets/images/{{ post.image }}" alt="{{ post.image-alt }}" /></a>
            </figure>
        </div>
    </div>
</aside>

