<aside class="rec-art many" aria-label="Recommended Article">
    <a href="{{ post.url | relative_url }}">
        <div class="rec-container">
            <div class="rec-info">
                <p class="post-title">
                    {%- if post.display-title -%}
                        {{ post.display-title | escape }}
                    {%- else -%}
                        {{ post.title | escape }}
                    {%- endif -%}
                </p>
                <p class="post-desc">
                    {%- if post.display-description -%}
                        {{ post.display-description | escape }}
                    {%- else -%}
                        {{ post.description | escape }}
                    {%- endif -%}
                </p>
            </div>
            <div class="rec-img">
                <figure>
                    <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.image-alt }}" />
                </figure>
            </div>
        </div>
    </a>
</aside>

