                <section class="subscribe container" aria-label="Subscribe to email updates">
                    <div id="mlb2-1639220" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1639220">
                        <div class="ml-form-align-center">
                            <div class="ml-form-embedWrapper embedForm">
                                <div class="ml-form-embedBody ml-form-embedBodyHorizontal row-form">
                                    <div class="ml-form-embedContent">
                                        <h2>Never Miss an Article</h2>
                                        <p>Get notified by email when I publish a new article.</p>
                                    </div>
                                    <form class="ml-block-form" action="https://app.mailerlite.com/webforms/submit/k7y0d1" data-code="k7y0d1" method="post" target="_blank">
                                        <div class="ml-form-formContent horozintalForm">
                                            <div class="ml-form-horizontalRow">
                                                <div class="ml-input-horizontal">
                                                    <div class="horizontal-fields">
                                                        <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                                                            <input type="email" class="form-control" data-inputmask="" name="fields[email]" value="" placeholder="email..." aria-label="enter your email to subscribe">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ml-button-horizontal">
                                                    <button type="submit" class="primary">Subscribe</button>
                                                    <button disabled="disabled" style="display:none" type="button" class="loading">
                                                        <div class="ml-form-embedSubmitLoad">                                                            
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="ml-submit" value="1">
                                    </form>
                                </div>
                                <div class="ml-form-successBody row-success" style="display:none">
                                    <div class="ml-form-successContent">
                                        <h2>Thank you!</h2>
                                        <p>Please check your email to confirm your subscription.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        function ml_webform_success_1639220(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-1639220 .row-success").show(),r(".ml-subscribe-form-1639220 .row-form").hide()}
                    </script>
                    <!-- <img src="https://track.mailerlite.com/webforms/o/1639220/k7y0d1?v4a60e9ef938a7fa0240ac9ba567062cb" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" border="0"> -->
                    <!-- <script src="https://static.mailerlite.com/js/w/webforms.min.js?v4a60e9ef938a7fa0240ac9ba567062cb" type="text/javascript"></script> -->
                    {% include js/mailerlite.html -%}
                </section>