---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header container">
		<h1 class="post-title" itemprop="name headline">
			{%- if page.display-title -%}
				{{ page.display-title | escape }}
			{%- else -%}
				{{ page.title | escape }}
			{% endif %}
		</h1>
		<p class="article-subtitle">{{page.description | escape}}</p>
		<div class="post-meta">
			<svg class="coin"><use xlink:href="#coin-gold-ring" /></svg><figure><picture><source srcset="assets/images/webp/reggie-paquette.webp" type="image/webp"><source srcset="assets/images/reggie-paquette.jpeg" type="image/jpeg"><img class="author" src="/assets/images/reggie-paquette.jpeg" alt="Reggie Paquette photo" /></picture></figure>
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name"><a href="/about">{{ page.author }}</a></span>
			</span>
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{%- assign date_format = site.minima.date_format | default: "%b %-d, '%y" -%}<img class="no-dark-filter svg-reg--left" src="/assets/images/svg/post-grey.svg" alt="" >{{ page.date | date: date_format }}</time>
			<!-- <div id="post-categories">{% for category in page.categories %}<a href="/{{ category }}">#{{ category }}</a>{% endfor %}</div> -->
		</div>
	</header>
	<div class="post-content" itemprop="articleBody">
		{% if page.image %}{% include featured-image.html image=page.image alt=page.image-alt %}{% endif %}
		{{ content }}
	</div>	
</article>
