---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header container">
		<h1 class="post-title" itemprop="name headline">
			{%- if page.display-title -%}
				{{ page.display-title | escape }}
			{%- else -%}
				{{ page.title | escape }}
			{% endif %}
		</h1>
		<p class="article-subtitle">{{page.description | escape}}</p>
		<div class="post-meta">
			{% include author-photo.html %}
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">{{ page.author }}</span>
			<!-- <span itemprop="name"><a href="/about">{{ page.author }}</a></span> -->
			</span>
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{%- assign date_format = site.minima.date_format | default: "%m/%-d/%Y" -%}<svg class="no-dark-filter svg-reg--left"><use xlink:href="#cal" /></svg>{{ page.date | date: date_format }}</time>
			<div id="post-categories" class="hashtag">{% for category in page.categories %}{%- unless category contains "casestudy" -%}<div>#{{ category }}</div>{%- endunless -%}{% endfor %}</div>
		</div>
	</header>
	{% if page.image %}{% include featured-image.html image=page.image alt=page.image-alt %}{% endif %}
	<div class="post-content" itemprop="articleBody">		
		{{ content }}
	</div>	
</article>
