---
layout: default
---
<div class="featured-articles">
	<div class="container">
		{%- if site.posts.size > 0 -%}
		<div class="featured-article-header">
			<h2 class="post-list-heading">Latest Articles {% if page.title != "Latest Articles" %}in {{page.title}}{%- endif -%}</h2>
		</div>
		<div class="article-container reveal">
			<ul class="post-list reveal">
				{% assign i = 0 %}{%- if page.title == "Latest Articles" -%}{%- for post in site.posts -%}{%- unless post.categories contains "casestudy" -%}
				<li class="article-{{ i }}">
					{% assign i = i | plus:1 %}
					{%- if post.image -%}<a href="{{ post.url | relative_url }}">{%- include featured-image.html image=post.image alt=post.image-alt %}</a>{% endif %}
					<div class="article-info">
						<h3><a class="post-link" href="{{ post.url | relative_url }}">
							{%- if post.display-title -%}
								{{ post.display-title | escape }}
							{%- else -%}
								{{ post.title | escape }}
							{%- endif -%}
						</a></h3>
						<p>
							{%- if post.display-description -%}
								{{ post.display-description | escape }}
							{%- else -%}
								{{ post.description | escape }}
							{%- endif -%}
						</p>
						{%- assign date_format = site.minima.date_format | default: "%b %-d, '%y" %}
						<p class="post-meta"><img class="no-dark-filter svg-reg--left" src="/assets/images/svg/post-grey.svg" alt="" />{{ post.date | date: date_format }}</p>
					</div>
				</li>
				{% endunless -%}{%- endfor -%}{%- else -%}{%- for post in site.categories[page.category] -%}{%- unless post.categories contains "casestudy" -%}
				<li class="article-{{ i }}">
					{% assign i = i | plus:1 %}
					{%- if post.image -%}<a href="{{ post.url | relative_url }}">{%- include featured-image.html image=post.image alt=post.image-alt %}</a>{% endif %}
					<div class="article-info">
						<h3><a class="post-link" href="{{ post.url | relative_url }}">
							{%- if post.display-title -%}
								{{ post.display-title | escape }}
							{%- else -%}
								{{ post.title | escape }}
							{%- endif -%}
						</a></h3>
						<p>
							{%- if post.display-description -%}
								{{ post.display-description | escape }}
							{%- else -%}
								{{ post.description | escape }}
							{%- endif -%}
						</p>
						{%- assign date_format = site.minima.date_format | default: "%b %-d, '%y" %}
						<p class="post-meta"><img class="no-dark-filter svg-reg--left" src="/assets/images/svg/post-grey.svg" alt="" />{{ post.date | date: date_format }}</p>
					</div>
				</li>
				{% endunless -%}{%- endfor -%}{%- endif %}
			</ul>
		</div>
		{%- endif %}
	</div>
</div>
{% include subscribe.html %}