---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage"/>
	<meta itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
	<meta itemprop="logo" itemscope itemtype="https://schema.org/ImageObject" content="/assets/images/logo.png">
	<meta itemprop="url" content="/assets/images/logo.png">
	<header class="post-header container">
		<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
		<p class="article-subtitle">{{page.description | escape}}</p>
		<div class="post-meta">
			<div id="ring"></div><figure><img src="/assets/images/regpaq.jpg" /></figure>
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name"><a href="/about">{{ page.author }}</a></span>
			</span>
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{%- assign date_format = site.minima.date_format | default: "%b %-d, '%y" -%}<img class="svg-reg--left" src="/assets/images/svg/post-grey.svg">{{ page.date | date: date_format }}</time>
			<div id="post-categories">{% for category in page.categories %}<a href="/{{ category }}">#{{ category }}</a>{% endfor %}</div>
		</div>
	</header>
	<div class="post-content" itemprop="articleBody">
		{% if page.featured-image %}{% include featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
		{{ content }}
	</div>
	{%- include subscribe.html -%}
	{%- if site.disqus.shortname -%}{%- include disqus_comments.html -%}{%- endif -%}
</article>
