---
layout: default
---
<article class="post post-grid" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header container">
		<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
		<p class="article-subtitle">{{page.description | escape}}</p>
		<div class="post-meta">
			<div id="ring"></div><img src="/assets/images/regpaq.jpg" />
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name"><a href="/about">{{ page.author }}</a></span>
			</span>
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{%- assign date_format = site.minima.date_format | default: "%b %-d, '%y" -%}<img class="svg-reg--left" src="/assets/images/svg/post-grey.svg">{{ page.date | date: date_format }}</time>
		</div>
	</header>
	<div class="post-content" itemprop="articleBody">
		{% if page.featured-image %}{% include featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
		{{ content }}
	</div>
	{%- include subscribe.html -%}
	{%- if site.disqus.shortname -%}{%- include disqus_comments.html -%}{%- endif -%}
</article>
