---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">	
	<header class="post-header container">
		<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
		<p class="article-subtitle">{{page.description | escape}}</p>
		<div class="post-meta">
			<div id="ring"></div><figure><img src="/assets/images/regpaq.jpg" /></figure>
			<a href="/about"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></a>
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{%- assign date_format = site.minima.date_format | default: "%b %-d, '%y" -%}<img class="svg-reg--left" src="/assets/images/svg/post-grey.svg">{{ page.date | date: date_format }}</time>
			<span itemprop="dateModified" class="display: none;">
				{%- if page.lastmod -%}
					Last updated: {%- page.lastmod | date: date_format -%}
				{%- else -%}
					Last updated: {%- page.date | date: date_format -%}
				{%- endif -%}
			</span>
			<div itemprop="articleSection" id="post-categories">{% for category in page.categories %}<a href="/{{ category }}">#{{ category }}</a>{% endfor %}</div>
		</div>
	</header>
	{% if page.featured-image %}{% include featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
	<div class="post-content" itemprop="articleBody">		
		{{ content }}		
	</div>
	{%- include subscribe.html -%}
	{%- if site.disqus.shortname -%}{%- include disqus_comments.html -%}{%- endif -%}
	<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
		<meta itemprop="name" content="Reggie Paquette">
		<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="/assets/images/logo.png">
            <meta itemprop="width" content="272">
            <meta itemprop="height" content="155">
        </span>
	</span>
	<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage"/>
</article>
