---
layout: default
---

{{ content }}

<div class="featured-articles">
  <div class="container">
    {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">Latest Articles in Productivity</h2>
      <div class="article-container reveal">
        <ul class="post-list reveal">
            {% assign i = 0 %}{%- for post in site.categories.productivity -%}
          <li class="article-{{ i }}">
            {% assign i = i | plus:1 %}
            {% if post.featured-image %}{% include featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
            <div class="article-info">
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if post.description -%}
                <p>{{ post.description }}</p>
              {%- endif -%}
              {%- assign date_format = site.minima.date_format | default: "%b %-d, '%y" -%}
              <p class="post-meta">{% include /svg/calendar.svg %}{{ post.date | date: date_format }}</p>
            </div>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
    </div>
</div>

{%- include subscribe.html -%}

