---
layout: default
---
<article class="resume post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<div class="post-meta">
				<svg class="coin"><use xlink:href="#coin-gold-ring" /></svg>
				<figure class="profile"><picture><source srcset="assets/images/webp/reggie-paquette.webp" type="image/webp"><source srcset="assets/images/reggie-paquette.jpeg" type="image/jpeg"><img class="author" src="/assets/images/reggie-paquette.jpeg" alt="Reggie Paquette photo" /></picture></figure>
				<h1 itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="/about">{{ page.author }}</a></span></h1>
				<p class="article-subtitle">{{page.description | escape}}</p>
				<p class="resume-meta info"><svg class="no-dark-filter"><use xlink:href="#home" /></svg>Los Angeles<a href="https://docs.google.com/document/d/1KtAI5mk5tB9tdYsy3rR6x8_QgENkt4cWnqWZqlSdeRY/edit?usp=sharing" target="_blank"><svg class="no-dark-filter"><use xlink:href="#document" /></svg>Résumé</a></p>
				<p class="resume-meta social">
					<a href="https://twitter.com/regpaq" target="_blank"><svg class="no-dark-filter"><use xlink:href="#twitter" /></svg></a>
					<a href="https://www.linkedin.com/in/reggiepaquette/" target="_blank"><svg class="no-dark-filter"><use xlink:href="#linkedin" /></svg></a>
					<script type="text/javascript" src="https://clearbitjs.com/v1/x/forms.js"></script><a class="clearbit-overlay" data-form-id="efd7b003-bf49-4084-aec2-54ccccfadda9" data-theme="default" ><svg class="no-dark-filter" id="mail"><use xlink:href="#envelope" /></svg></a></p>
		</div>
	</header>
	<div class="post-content" itemprop="articleBody">
		{{ content }}
		<aside class="toc-aside">
			<nav class="toc">
				<h4>Jump to:</h4>
				<ul class="toc-menu">
					<li><a href="#work-experience">Experience</a></li>
					<li><a href="#education">Education</a></li>
					<li><a href="#recommendations">Recommendations</a></li>
				</ul>
				</nav>
		</aside>
	</div>
</article>