---
layout: default
---
<article class="resume post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
        <div id="ring"></div>
        <figure class="profile"><img src="/assets/images/regpaq.jpg" /></figure>
        <h1 itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="/about">{{ page.author }}</a></span></h1>
        <p class="article-subtitle">{{page.description | escape}}</p>
        <p class="resume-meta info"><img class="no-dark-filter svg" src="/assets/images/svg/location-grey.svg">Los Angeles<a href="https://docs.google.com/document/d/1KtAI5mk5tB9tdYsy3rR6x8_QgENkt4cWnqWZqlSdeRY/edit?usp=sharing" target="_blank"><img class="no-dark-filter svg" src="/assets/images/svg/doc-grey.svg">Résumé</a></p>
        <p class="resume-meta social"><a href="https://www.linkedin.com/in/reggiepaquette/" target="_blank"><img class="no-dark-filter svg" src="/assets/images/svg/linkedin-grey.svg"></a><a href="https://twitter.com/regpaq" target="_blank"><img class="no-dark-filter svg" src="/assets/images/svg/twitter-grey.svg"></a><script type="text/javascript" src="https://clearbitjs.com/v1/x/forms.js"></script><a class="clearbit-overlay" data-form-id="efd7b003-bf49-4084-aec2-54ccccfadda9" data-theme="default" ><img class="no-dark-filter svg" src="/assets/images/svg/mail-grey.svg"></a></p>
    </div>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
    <aside class="toc-aside">
      <nav class="toc">
        <h4>Jump to:</h4>
        <ul class="toc-menu">
          <li><a href="#work-experience">Experience</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#recommendations">Recommendations</a></li>
        </ul>
        </nav>
    </aside>
  </div>
</article>